form{
  width: 300px;
  margin:0 auto;
}
form input{
  width: 120px;
  height: 30px;
  margin-top: 3px;

}
.radios{
  width: 10px;
  height: 30px;
  margin-top: 0;
  position: relative;
  top:7px;

}
form img{
  position: relative;
  top:10px;
}
form .reset,.register{
  cursor:pointer;/*光标显示一只手*/
}
